.header_outside {
  height: 95px;
  width: 100%;
  background: #1e1e1e;
}

.header_outside .header_content {
  height: 100%;
  max-width: 1920px;
  min-width: 1186px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

.header_outside .header_content h1 {
  height: 100%;
  float: left;
}

.header_outside .header_content nav {
  float: right;
}

.header_outside .header_content nav li {
  float: left;
}

.header_outside .header_content nav li a {
  color: #bbbbbd;
  display: block;
  padding: 0 22px;
  line-height: 95px;
}

.header_outside .header_content nav li a:first-child {
  color: #fffdff;
}

.header_outside .header_content nav aside {
  float: right;
  height: 95px;
}

.header_outside .header_content nav aside div:nth-child(1) {
  height: 40px;
  padding-right: 20px;
  border-right: 3px solid #bbb;
  padding-left: 53px;
  margin-right: 35px;
  text-align: right;
  color: #bbbbbd;
  float: left;
  margin-top: 27.5px;
}

.header_outside .header_content nav aside div:nth-child(2) {
  width: 36px;
  height: 42px;
  text-align: center;
  float: right;
  margin-top: 16px;
  margin-right: 5px;
}

.header_outside .header_content nav aside div:nth-child(2) span {
  font-size: 12px;
  color: white;
}

#banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 783px;
  min-width: 1366px;
}

#banner .banner_pic {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  max-width: 1920px;
  height: 100%;
  overflow: hidden;
}

main .section1_outside {
  width: 100%;
  background: #fcfcfc;
}

main .section1_outside .section1_content {
  width: 1186px;
  margin: 0 auto;
  height: 672px;
  padding-top: 32px;
}

main .section1_outside .section1_content hgroup {
  text-align: center;
  margin: 32px 0 76px 0;
}

main .section1_outside .section1_content hgroup h2 {
  font-size: 38px;
  margin: 0 20px;
  margin-bottom: 20px;
}

main .section1_outside .section1_content hgroup h4 {
  font-size: 18px;
  font-weight: normal;
}

main .section1_outside .section1_content .section1_content_figure {
  display: flex;
  justify-content: space-between;
}

main .section1_outside .section1_content .section1_content_figure figure figcaption {
  width: 143px;
  height: 124px;
}

main .section1_outside .section1_content .section1_content_figure figure h5 {
  margin-top: 32px;
  margin-bottom: 20px;
  font-size: 30px;
  padding-left: 16px;
  font-weight: normal;
}

main .section1_outside .section1_content .section1_content_figure figure span {
  margin-bottom: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 20px;
  width: 130px;
  display: inline-block;
}

main .section1_outside .section1_content .section1_content_figure figure article {
  padding-left: 16px;
}

main .section1_outside .section1_content .section1_content_figure figure article p {
  font-size: 12px;
  color: #666;
  line-height: 26px;
}

main .section2_content {
  max-width: 1920px;
  min-width: 1186px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  border-bottom: 1px solid #fcfcfc;
}

main .section2_content hgroup {
  text-align: center;
  margin: 32px 0 76px 0;
}

main .section2_content hgroup h2 {
  font-size: 38px;
  margin: 0 20px;
  margin-bottom: 20px;
}

main .section2_content hgroup h4 {
  font-size: 18px;
  font-weight: normal;
}

main .section2_content article {
  display: flex;
}

main .section2_content article figure {
  flex: 1;
}

main .section2_content article figure figcaption {
  overflow: hidden;
}

main .section2_content article figure figcaption img {
  transition: 0.3s;
}

main .section2_content article figure figcaption:hover img {
  transform: scale(1.2);
}

main .section2_content article figure p {
  margin-top: 20px;
  color: #676767;
  font-size: 18px;
}

main .section2_content article figure span {
  color: #666666;
  font-size: 12px;
  padding-bottom: 50px;
  display: inline-block;
}

main .section2_content article figure span strong {
  border-left: 2px solid #666666;
  padding: 0 6px;
}

main .section2_content article figure span i {
  border-left: 1px solid #666666;
  padding: 0 6px;
}

main .section3_content {
  width: 1186px;
  margin: 0 auto;
  padding-top: 55px;
}

main .section3_content hgroup {
  text-align: center;
}

main .section3_content hgroup h2 {
  font-size: 22px;
}

main .section3_content hgroup h5 {
  display: inline-block;
  height: 3px;
  width: 50px;
  background: #2095f2;
}

main .section3_content article {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

main .section3_content article div {
  width: 20%;
  height: 150px;
}

main .section3_content article div:nth-child(1) {
  background: url(../images/anli1.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(1):hover {
  background-position: 0 0px;
}

main .section3_content article div:nth-child(2) {
  background: url(../images/anli2.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(2):hover {
  background-position: 0 0px;
}

main .section3_content article div:nth-child(3) {
  background: url(../images/anli6.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(3):hover {
  background-position: 0 0px;
}

main .section3_content article div:nth-child(4) {
  background: url(../images/anli8.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(4):hover {
  background-position: 0 0px;
}

main .section3_content article div:nth-child(5) {
  background: url(../images/anli9.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(5):hover {
  background-position: 0 0px;
}

main .section3_content article div:nth-child(6) {
  background: url(../images/anli18.png) center center;
  background-position: 0 150px;
  transition: 0.3s;
}

main .section3_content article div:nth-child(6):hover {
  background-position: 0 0px;
}

.footer_outside {
  background: url(../images/footer-bg_02.jpg) no-repeat;
  background-size: cover;
}

.footer_outside .footer_content {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.footer_outside .footer_content .footer_content_top {
  height: 230px;
  border-bottom: 2px solid #4d4d4d;
}

.footer_outside .footer_content .footer_content_top article {
  float: left;
}

.footer_outside .footer_content .footer_content_top article hgroup {
  padding-top: 60px;
}

.footer_outside .footer_content .footer_content_top article hgroup h4 {
  font-size: 20px;
  color: #c9c9c9;
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 32px;
}

.footer_outside .footer_content .footer_content_top article .footer_content_top_ul .footer_content_top_ul_list {
  float: left;
  padding-right: 60px;
}

.footer_outside .footer_content .footer_content_top article .footer_content_top_ul .footer_content_top_ul_list ul li {
  line-height: 30px;
  color: #ccc;
  font-size: 14px;
}

.footer_outside .footer_content .footer_content_top aside {
  float: right;
  text-align: right;
  color: #c9c9c9;
  font-size: 14px;
  padding-top: 60px;
  line-height: 30px;
}

.footer_outside .footer_content .footer_content_top aside h4 {
  color: #2396f3;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer_outside .footer_content .footer_content_bottom {
  height: 60px;
}

.footer_outside .footer_content .footer_content_bottom p {
  float: left;
  line-height: 60px;
  font-size: 14px;
  color: #ccc;
}

.footer_outside .footer_content .footer_content_bottom div {
  float: right;
  line-height: 60px;
}

.footer_outside .footer_content .footer_content_bottom div i {
  display: inline-block;
  width: 28px;
  height: 23px;
  background: url(../images/footer-first_07.png);
}
